<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khaatabook</title>
    
</head>

<body>
    <nav>
        <h2>Khaatabook</h2>
        <div>
            <a href="/">Home</a>
            <a href="/create">Create New Hisaab</a>
        </div>
    </nav>

    <section>
        <h1>Create New Hisaab</h1>
        <form action="/createHisab" method="post">

            <textarea name="hisaab" id=""></textarea>
            <input type="submit" value="Submit">
        </form>
    </section>
</body>

</html>