<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khaatabook</title>
    
</head>

<body>
    <nav>
        <h2>Khaatabook</h2>
        <div>
            <a href="/">Home</a>
            <a href="/create">Create New Hisaab</a>
        </div>
    </nav>
    <section>
        <h1>Edit Hisaab of <%= fileName %>
        </h1>
        <form action="/update/<%= fileName %>" method="post">
            <div>

                <p>Edit file Name</p>
                <input type="text"
                    name="newFileName" value="<%= fileName %>" placeholder="enter new name">
            </div>
            <textarea name="fileData" id=""><%= data %></textarea>
            <input type="submit">
        </form>
    </section>


</body>

</html>