<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khaatabook</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <h2>Khaatabook</h2>
        <div>
            <a href="/">Home</a>
            <a href="/create">Create New Hisaab</a>
        </div>
    </nav>
    <section>
        <h1>All Hisaab</h1>
        <% files.forEach((elem)=>{ %>
            <div>
                <h1>
                    <%= elem %>
                </h1>
                <div>
                    <a href="/edit/<%= elem%>">
                        <i class="ri-edit-line"></i>
                    </a>
                    <a href="/delete/<%= elem %>">
                        <i class="ri-delete-bin-line"></i>
                    </a>
                </div>
            </div>
        <% }) %>
    </section>
</body>

</html>